name: Run gradle tests
on:
  push:
    branches:
      - main
  pull_request:
    branches: 
      - main
jobs:
  test:
    runs-on: ubuntu-lastes
    steps:
    - name: check out code
      uses: action/checkout@v4
    - name: Set up JDK 17
      uses: action/setup-java@v3
      with:
        java-version:17
      distribution: adopt
    - name: Run tests
      uses: gradle/gradle-build-action@v2
      with:
        arguments: test

